// use css reset, instead

* {
    margin: 0; padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.map {
    height: 1024px;
    width: 1024px;
    margin: 0 auto;
    background-image: url(../images/world.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    position: relative;
}

.location {
    position: absolute;
    & > img {
        width: 17px;
        height: 26px;
        transition: all ease-in 180ms;
    }
    &:hover img{
        transform: scale(1.9, 1.55);
        transform-origin: bottom;
    }
    &__time {
        background: rgba(0, 0, 0, .8);
        border-radius: 3px;
        color: #fff;
        padding: .250rem .500rem;
    }
    &--new-york {
        top: 400px;
        left: 235px;
    }
    &--london {
        top: 353px;
        left: 433px;
    }
    &--belgrade {
        top: 375px;
        left: 490px;
    }
    &--tokyo {
        top: 400px;
        left: 835px;
    }
    &--sidney {
        top: 622px;
        left: 868px;
    }
}